@model CustomPokedex.Models.Pokemon


@{
    string imageUrl = $"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{Model.PokedexNumber}.png";
}

<head>
    <link rel="stylesheet" href="~/css/info.css" asp-append-version="true" />
</head>


<div class="main-container">
    <div class="pokedex-row image-classification-row">
        <img src="@imageUrl" alt="pokemon-image" />
        <div class="pokedex-col">
            <div class="pokemon-type-classification pokemon-style-container">
                <div class="pokemon-number">
                    <h2>No. @Model.PokedexNumber @Model.Name</h2>
                </div>
                <div class="pokemon-classification">
                    <h2>@Model.Classification</h2>
                </div>
            </div>
            <div class="pokemon-types">
                @{
                    string type1 = $"{Model.Type1}-type";
                    <h3 class=@type1>@Model.Type1</h3>
                }

                @if(Model.Type2 != "")
                {
                    string type2 = $"{Model.Type2}-type";
                    <h3 class=@type2>@Model.Type2</h3>
                }

            </div>
        </div>
    </div>
    <div class="pokedex-row pokemon-style-container p-1">
        <div class="pokemon-style-container-white">
            <h3>Abilities:</h3>
            <div class="d-flex abilities">
                @foreach (string ability in Model.Abilities)
                {
                    <h3>@ability</h3>
                }
            </div>
        </div>
    </div>
</div>

